* {
    background-color: black;
    color: white
}

.home {
    position: relative;
    top: 25px;
    margin: 0 auto;
    text-align: center;
}

.home a {
    color: steelblue;
}

nav {
    position: fixed;
}

#sheet {
    position: relative;
    top: 25px;
}

h1, h2, h3 {
    text-align: center;
    padding-top: 10px;
}

h2 {
    color: steelblue;
}

h3 {
    color: lightsteelblue
}

table {
    width: 650px;
}

table, th {
    border: 2px solid darkslategrey;
    margin: 0 auto;
    color: steelblue;
}

table tbody tr td {
    border: 1px solid darkslategray;
}

.code {
    background-color: dimgray;
}
